<a href="https://colab.research.google.com/github/sbooeshaghi/SBA-PPP-Loan-Data/blob/master/notebooks/load_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
%%time
!git clone https://github.com/sbooeshaghi/SBA-PPP-Loan-Data.git

Cloning into 'SBA-PPP-Loan-Data'...
remote: Enumerating objects: 182, done.
remote: Total 182 (delta 0), reused 0 (delta 0), pack-reused 182
Receiving objects: 100% (182/182), 181.79 MiB | 31.28 MiB/s, done.
Resolving deltas: 100% (106/106), done.
Checking out files: 100% (175/175), done.
CPU times: user 90.1 ms, sys: 18.8 ms, total: 109 ms
Wall time: 15.1 s

In [5]:
!unzip /content/SBA-PPP-Loan-Data/over_150k/foia_150k_plus.csv.zip

Archive:  /content/SBA-PPP-Loan-Data/over_150k/foia_150k_plus.csv.zip
  inflating: foia_150k_plus.csv

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

def nd(arr):
  return np.asarray(arr).reshape(-1)

def yex(ax):
    lims = [
        np.min([ax.get_xlim(), ax.get_ylim()]),  # min of both axes
        np.max([ax.get_xlim(), ax.get_ylim()]),  # max of both axes
    ]
    
    # now plot both limits against eachother
    ax.plot(lims, lims, 'k-', alpha=0.75, zorder=0)
    ax.set_aspect('equal')
    ax.set_xlim(lims)
    ax.set_ylim(lims)
    return ax

fsize=20

plt.rcParams.update({'font.size': fsize})
%config InlineBackend.figure_format = 'retina'

# Load data > $150k

In [7]:
df = pd.read_csv("/content/foia_150k_plus.csv")

In [9]:
df.head()

         LoanRange  ...       CD
0  a $5-10 million  ...  AK - 00
1  a $5-10 million  ...  AK - 00
2  a $5-10 million  ...  AK - 00
3  a $5-10 million  ...  AK - 00
4  a $5-10 million  ...  AK - 00

[5 rows x 16 columns]

# Load data < $150k (per state)

In [10]:
fl = pd.read_csv("/content/SBA-PPP-Loan-Data/under_150k/Florida/foia_up_to_150k_FL.csv")

In [11]:
fl.head()

   LoanAmount  ...       CD
0   149995.22  ...  FL - 02
1   149994.00  ...  FL - 16
2   149988.00  ...  FL - 20
3   149987.00  ...  FL - 26
4   149987.00  ...  FL - 26

[5 rows x 14 columns]